.container {
    max-width: var(--max-width);
    margin: 0 auto;


    position: relative;

    @media (max-width: 1400px) {
        max-width: var(--max-width-1);
    }

    @media (max-width: 1200px) {
        max-width: var(--max-width-2);
    }

    @media (max-width: 996px) {
        max-width: var(--max-width-3);
    }

    @media (max-width: 768px) {
        max-width: var(--max-width-4);
    }

    @media (max-width: 576px) {
        padding: 0 12px;
        max-width: var(--max-width-5);
    }
}