@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
}

body {
  background-color: var(--body-background-c);
  min-width: 320px;
  padding-bottom: 24px;
}

button {
  padding-block: 0;
  padding-inline: 0;
  background-color: inherit;
  border: none;
}

a {
  text-decoration: none;
  font-family: "Poppins";
}

:root {
  --color-style: #a4cb38;
  --color-style-rgb: 164, 203, 56;
  --color-style-border: #a3cb38;

  --header-color: #222222;
  --header-color-2: #636e72;
  --border-color: #eae8ef;
  --border-color-d: #eae8ef;
  --border-color-l: #f3f6f6;
  --background-color-header: #ffffffbb;
  --background-color: #ffffff;
  --body-background-c: #ffffff;
  --icon-color: #636e72;
  --text-color: #778ca3;
  --button-background: #f3f6f6;
  --blur-color: #636e72;
  --fill-color: #d9d9d9;
  --button-background-2: #a5b1c2;

  --photo-background: #f3f6f6;
  --photo-border: #a5b1c2;

  --max-width: 1296px;
  --max-width-1: 1116px;
  --max-width-2: 936px;
  --max-width-3: 696px;
  --max-width-4: 516px;
  --max-width-5: auto;

  --break-point-1: 1400px;
  --break-point-2: 1200px;
  --break-point-3: 993px;
  --break-point-4: 768px;
  --break-point-5: 576px;

  --slide-time: 1s;

  --filter-map: '';

}